{% extends "navbar_base.html" %}

{% block title %}Add Recipe{% endblock %}

{% block links %}
<!-- Custom fonts for this template-->
<link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

<!-- Custom styles for this template-->
<link href="/static/css/sb-admin.css" rel="stylesheet">
{% endblock %}
{% block content %}
<body class="bg-dark">

  <div class="container">
    {% if errorReason %}
    <div class="alert alert-danger" role="alert">
      {{ errorReason }}
    </div>
    {% elif success %}
    <div class="alert alert-success" role="alert">
      Recipe successfully created!
    </div>
    {% endif %}
    <div class="card mx-auto mt-5">
      <div class="card-header">Add Recipe Manually</div>
      <div class="card-body">
        <form method="post" action="/addManually/">
            {% csrf_token %}
          <div class="form-group">
            <label for="id_title"> Recipe Title: </label>
            <div class="form-label-group">
              {{ form.title }}
            </div>
            <label for="id_time"> Recipe Time (in minutes): </label>
            <div class="form-label-group">
              {{ form.time }}
            </div>
            <label for="id_recipe_yield"> Recipe Yield: </label>
            <div class="form-label-group">
              {{ form.recipe_yield }}
            </div>
            <label for="#formset_container"> Ingredients: </label>
            <div id="formset_container" class="form-label-group">
              {{ formset.management_form }}
              {% for ingredient_form in formset %}
                  <div class="ingredient-form py-1">
                      {{ ingredient_form.ingredient }}
                  </div>
              {% endfor %}
              <button id="add-form" class="btn btn-primary" type="button">Add Another Ingredient</button>
            </div>
            <label for="id_instructions"> Instructions (enter each step on a new line): </label>
            <div class="form-label-group">
              {{ form.instructions }}
            </div>
          </div>
          <button class="btn btn-primary btn-block" type="submit">Add Recipe</button>
        </form>
      </div>
    </div>
  </div>

  <script>
    document.getElementById("id_title").classList.add("form-control");
    document.getElementById("id_title").autofocus = "autofocus";
    document.getElementById("id_time").classList.add("form-control");
    document.getElementById("id_recipe_yield").classList.add("form-control");
    document.getElementById("id_instructions").classList.add("form-control");
  </script>
  <!-- Bootstrap core JavaScript -->
  <!-- <script src="/static/vendor/jquery/jquery.min.js"></script> -->
  <!-- <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script> -->

  <!-- Core plugin JavaScript-->
  <!-- <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script> -->

  <script>
    let allForm = document.querySelectorAll(".ingredient-form")
    let container = document.querySelector("#formset_container")
    let addButton = document.querySelector("#add-form")
    let totalForms = document.querySelector("#id_form-TOTAL_FORMS")
    let formNum = allForm.length-1
    addButton.addEventListener('click', addForm)
    for (var i = 0; i < allForm.length; i++) {
      document.getElementById("id_form-" + i + "-ingredient").classList.add("form-control")
    }

    function addForm(e) {
        e.preventDefault()

        let newForm = allForm[0].cloneNode(true) //Clone the bird form
        let formRegex = RegExp(`form-(\\d){1}-`,'g') //Regex to find all instances of the form number

        formNum++ //Increment the form number
        newForm.innerHTML = newForm.innerHTML.replace(formRegex, `form-${formNum}-`) //Update the new form to have the correct form number
        container.insertBefore(newForm, addButton) //Insert the new form at the end of the list of forms
        document.getElementById("id_form-" + formNum + "-ingredient").classList.add("form-control");
        document.getElementById("id_form-" + formNum + "-ingredient").value = "";
        totalForms.setAttribute('value', `${formNum+1}`) //Increment the number of total forms in the management form
      }
  </script>

</body>
{% endblock %}
