{% extends "base.html" %}

{% block hello %} Create User {% endblock %}

{% block links %}
<!-- Custom fonts for this template-->
<link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

<!-- Custom styles for this template-->
<link href="/static/css/sb-admin.css" rel="stylesheet">
{% endblock %}
{% block body %}
<body class="bg-dark">

  <div class="container my-2">
    {% if errorReason %}
    <div class="alert alert-danger" role="alert">
      {{ errorReason }}
    </div>
    {% endif %}
    <div class="card card-login mx-auto my-auto">
      <div class="card-header">Login</div>
      <div class="card-body">
        <form method="post" action="/register/">
            {% csrf_token %}
          <div class="form-group">
            <label for="username"> Username: </label>
            <div class="form-label-group">
              {{ form.username }}
            </div>
          </div>
          <div class="form-group">
            <label for="first_name"> First name: </label>
            <div class="form-label-group">
              {{ form.first_name }}
            </div>
          </div>
          <div class="form-group">
            <label for="last_name"> Last name: </label>
            <div class="form-label-group">
              {{ form.last_name }}
            </div>
          </div>
          <div class="form-group">
            <label for="email"> Email: </label>
            <div class="form-label-group">
              {{ form.email }}
            </div>
          </div>
          <div class="form-group">
            <label for="password1"> Password: </label>
            <div class="form-label-group">
              {{ form.password1 }}
            </div>
          </div>
          <div class="form-group">
            <label for="password2"> Confirm password: </label>
            <div class="form-label-group">
              {{ form.password2 }}
            </div>
          </div>
          <button class="btn btn-primary btn-block" type="submit"> Register </button>
        </form>
      </div>
    </div>
  </div>

  <script>
    document.getElementById("id_username").classList.add("form-control");
    document.getElementById("id_password1").classList.add("form-control");
    document.getElementById("id_password2").classList.add("form-control");
    document.getElementById("id_email").classList.add("form-control");
    document.getElementById("id_first_name").classList.add("form-control");
    document.getElementById("id_last_name").classList.add("form-control");
  </script>
  <!-- Bootstrap core JavaScript-->
  <script src="/static/vendor/jquery/jquery.min.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

</body>
{% endblock %}
